body {
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
}

.hide {
  display: none !important;
}

/* Header */
#logo {
  width: 32px;
  height: 32px;
}

#menu-hamburger {
  width: 24px;
  height: 16px;
}

#menu-close {
  width: 20px;
  height: 20px;
}

header {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

nav > ul {
  width: calc(100% - 4rem);
  position: absolute;
  top: 100%;
  left: 2rem;
  z-index: 2;
  border-radius: 2px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
  text-align: center;
  padding: 1rem;
}

nav > ul > li {
  padding-bottom: 1rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: hsl(230, 29%, 20%);
  letter-spacing: .05rem;
}

nav > ul > li:last-of-type {
  padding: 1rem 0 0 0;
  border-top: 1px solid hsl(231, 7%, 65%);
  color:hsl(231, 7%, 65%);
}

nav > ul > li > a:hover {
  text-decoration: underline;
}

/* Main */
main {
  margin-top: 1rem;
  overflow-x: hidden;
}

#landing-bg {
  position: absolute;
  top: 0;
  right: 0;
  background-color: hsl(207, 33%, 95%);
  width: 50%;
  height: 420px;
  border-bottom-left-radius: 3rem;
  z-index: -1;
}

#landing-hero-image {
  width: 135%;
  margin-left: .3rem;
}

.landing-body {
  margin-top: 4rem;
  padding: 2rem;
  font-family: 'Barlow Condensed', sans-serif;
}

.landing-body-header {
  color: hsl(231, 7%, 65%);
  text-transform: uppercase;
  letter-spacing: .25rem;
}

.landing-body-header strong {
  border-radius: 500px;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  letter-spacing: normal;
}

.landing-body > h2 {
  padding: 1rem 0;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.landing-body > div:nth-of-type(2) {
  font-family: 'Barlow', sans-serif;
  padding-right: 2rem;
}

.landing-cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  padding: 1.5rem 0;
}

.landing-cta > a:first-of-type {
  background-color: hsl(0, 100%, 68%);
  color: hsl(0, 0%, 100%);
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
}

.landing-cta > a:first-of-type:hover {
  opacity: .7;
}

.landing-cta > a:nth-of-type(2) {
  color: hsl(231, 7%, 65%);
  letter-spacing: .15rem;
}

/* Media Query: Small >= 576px */
@media (min-width: 576px) {
  main {
    margin-top: 0;
  }

  #landing-bg {
    height: 520px;
  }

  .landing-body {
    margin-top: 2rem;
  }
}

/* Media Query: Medium >= 768px */
@media (min-width: 768px) {
  header {
    padding: 2rem 4rem;
  }

  nav > ul {
    display: flex;
    align-items: center;
    position: absolute;
    top: 2rem;
    left: initial;
    right: 4rem;
    z-index: auto;
    width: auto;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    border-radius: 0;
  }

  nav > ul > li {
    margin-left: 2rem;
    padding: 0;
  }

  nav > ul > li:last-of-type {
    border-top: none;
    margin-left: 4rem;
    position: relative;
    padding: 0;
  }

  nav > ul > li:last-of-type::before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: hsl(235, 7%, 65%);
    position: absolute;
    top: 50%;
    left: -2rem;
    transform: translateY(-50%);
  }

  main {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 6rem;
  }

  #landing-hero-image {
    width: 65%;
    margin-left: 0rem;
    margin-right: -8.5rem;
  }

  #landing-bg {
    height: 50%;
  }

  .landing-body {
    padding: 0 2rem 0 4rem;
    margin-top: 0;
  }

  .landing-body > h2 {
    font-size: 3rem;
  }

  .landing-body > div:nth-of-type(2) {
    padding-right: 3rem;
  }

  .landing-cta {
    justify-content: initial;
    font-size: inherit;
  }

  .landing-cta > a:first-of-type {
    margin-right: 1rem;
  }
}

/* Media Query: Xtra Large >= 1200px */
@media (min-width: 1200px) {
  header {
    padding: 2rem 6rem;
  }

  .landing-body {
    padding-left: 6rem;
  }

  .landing-body > h2 {
    font-size: 3.75rem;
  }

  .landing-body > div:nth-of-type(2) {
    width: 65%;
  }
}